body {
  margin: 0;
  padding: 0;
  background-image: url('silent-hill-2-playstation-5-game-playstation-store-cover (1).jpg'); 
  background-size: cover;             
  background-position: center;        
  background-repeat: no-repeat;      
  height: 100vh;                        
}
li {
    color: #222;
}
  body {
  font-family: 'Gloria Hallelujah', cursive;

}
 header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #000;
 }
 header nav li {
  position: relative;
 margin-right: 15px;
float: left;
padding: 20px;
display: flex;
padding: 20px;
 }
 header  nav li {
     padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background: rgba(150, 150, 150, 0.2); 
  color: white;
  cursor: pointer;
  transition: all 1s ease;
}
 header nav li:hover {
    background: rgba(180, 180, 180, 0.3);
  transform: scale(1.1);
 }
header nav li a {
  color: black;              
  text-decoration: none;
}
 header  nav li {
  display: flex;
   flex-direction: column;
  gap: 1000px;
  left: 100px;
  top: 25px;
}
header h1:hover {
cursor: pointer;
transition: all 1s ease;
transform: scale(1.05);

}
section h2 {
  position: absolute;
  top: 100px;
  left: 10px;
}
section li {
  position: relative;
  top: 180px;
  left: 10px;
}
#Solo {
  width: 300px;
  cursor: pointer;
  transition: transform 1s ease;
  top: 23%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-radius: 20%;
   position: absolute;
  top: 33%;
  left: 30px;
  margin-top: 54px;
}
#Solo:hover {
  transform: scale(1.1);
}
#Page {
  width: 300px;
    cursor: pointer;
  transition: transform 1s ease;
    border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-radius: 20%;
  position: absolute;
  right: 30px;
  top: 39%;
}
#Page:hover {
  transform: scale(1.1);
}
.start {
 position: absolute;
 display: flex;
  top: 58%;
  left: 10px;
  border: none;
}
footer {
  position: absolute;
  top:100% ;
  left: 40%;
  background-color: rgba(0, 0, 0, 0);
   backdrop-filter: blur(10px);
  padding: 7px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-radius: 20%;
}
